USE [master]
GO
/****** Object:  Database [MONZON]    Script Date: 03/11/2017 12:38:15 ******/
CREATE DATABASE [MONZON] ON  PRIMARY 
( NAME = N'MONZON', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MONZON.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MONZON_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MONZON_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MONZON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MONZON]
GO
/****** Object:  Table [dbo].[CULTURE]    Script Date: 03/11/2017 12:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CULTURE](
	[UNIQUE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](10) NOT NULL,
	[CAPTION] [varchar](50) NULL,
	[DESCRIPTION] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 03/11/2017 12:38:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[LOGIN](
	[UNIQUE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN] [varchar](10) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[ACTIVE] [bit] NOT NULL,
	[ID_PROFILE] [int] NOT NULL,
	[ID_CULTURE] [int] NOT NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[EUID_HASH] [nvarchar](36) NOT NULL DEFAULT (newid())
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[LOGIN] ADD [EMAIL] [varchar](50) NULL
ALTER TABLE [dbo].[LOGIN] ADD [PHONE] [varchar](50) NULL

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 03/11/2017 12:38:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROFILE](
	[UNIQUE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAPTION] [varchar](50) NULL,
	[ACTIVE] [bit] NOT NULL,
	[BIZ_ID] [nvarchar](36) NOT NULL DEFAULT (newid())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CULTURE] ON 

INSERT [dbo].[CULTURE] ([UNIQUE_ID], [CODE], [CAPTION], [DESCRIPTION]) VALUES (1, N'ES', N'Español', N'Español')
SET IDENTITY_INSERT [dbo].[CULTURE] OFF
SET IDENTITY_INSERT [dbo].[LOGIN] ON 

INSERT [dbo].[LOGIN] ([UNIQUE_ID], [LOGIN], [PASSWORD], [ACTIVE], [ID_PROFILE], [ID_CULTURE], [FIRST_NAME], [LAST_NAME], [EUID_HASH], [EMAIL], [PHONE]) VALUES (1, N'ADMIN', N'raynor', 1, 1, 1, N'Alfredo', N'Apellido', N'56b25a1f-eccb-4a26-8ef0-c028c2bcdc2d', N'javier.mart.vega@gmail.com', N'Prueba')
SET IDENTITY_INSERT [dbo].[LOGIN] OFF
SET IDENTITY_INSERT [dbo].[PROFILE] ON 

INSERT [dbo].[PROFILE] ([UNIQUE_ID], [CAPTION], [ACTIVE], [BIZ_ID]) VALUES (1, N'Administrador', 1, N'ADM')
SET IDENTITY_INSERT [dbo].[PROFILE] OFF
/****** Object:  Index [PK_CULTURE]    Script Date: 03/11/2017 12:38:16 ******/
ALTER TABLE [dbo].[CULTURE] ADD  CONSTRAINT [PK_CULTURE] PRIMARY KEY NONCLUSTERED 
(
	[UNIQUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOGIN]    Script Date: 03/11/2017 12:38:16 ******/
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [PK_LOGIN] PRIMARY KEY NONCLUSTERED 
(
	[UNIQUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PROFILE]    Script Date: 03/11/2017 12:38:16 ******/
ALTER TABLE [dbo].[PROFILE] ADD  CONSTRAINT [PK_PROFILE] PRIMARY KEY NONCLUSTERED 
(
	[UNIQUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
